body {
  font-size: 20px;
  background-image: url("../img/baner.png");
}
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  overflow:scroll;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: rgb(213, 78, 12);
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 20px;
  background-color: rgb(213, 78, 12);
  /*background-color: rgba(0, 0, 0, .25);*/
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);


}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  overflow: hidden;
}
.nav-link{
  display: inline-block;
}
.rprof{
    margin-right: 15px;

}
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 850px;
  border: none;
}
.frame1{
  width:100%;
  height: 860px;
  border-radius: 13px;

}
.frame2{
  width:100%;
  height: 590px;
}
.pic{
  width: 40px;
  height: 40px;
}
.selectback{
  padding: 10px;
  background-color: white;
  width: 300px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}
iframe{
  border: 0px;
  border-radius: 13px;
  border-top-left-radius: 0px;
}


#checkBoxDisplay{
    display: block;
}
#result1{
  display: none;
}
#button1{
  display: block;
}
#button2{
  display: none;
}
table ,tr,td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}
table{
  width: 100%;
  font-size: 100%;
}
.container{
  padding-top: 30px;
  width: 95%;
  height: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 13px;
  user-select: none;
  overflow: hidden;
}
label{
  font-size: 20px;
  display: inline-block;
  margin-left: 5px;
}
.button123{
  margin-top: 10px;
  padding: 10px;
  width: 135px;
  background-color: rgb(213, 78, 12,0.7);
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  border: 2px solid black;
}
input[type=checkbox]{
  transform: scale(1.5);
  padding: 10px;
  display: inline-block;
}
#cntvis{
  display: block;
}
#reloadbutton{
  display:none;
}
.weather{
  border-radius: 13px;
}
